.btn {
  background-color: black;
  color: violet;
  padding: 30px;
  display: flex;
  margin: 200px auto;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

body {
  background-color: darkgreen;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-3 {
  visibility: hidden;
}

.btn-name {
  background-color: black;
  color: violet;
  padding: 15px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

mt-4mt-4 {
  visibility: hidden;
}
